@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* STANDARD: */

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}


body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color:#1A1A1A;
}


/* FONTS & FORMATTING */

.black-primary{
    color: #1A1A1A;
}

.gray-primary{
    color: #787878;
}

.light-gray-primary{
    color: #BEBEBE;

}

.orange-primary{
    color: #FF6523;
}

.blue-primary{
    color:#5319FF;
}

/* BACKGROUND COLORS */

.light-gray-background{
    background:  #E5E5E5;
}

.organge-background{
    background: #FF6523;
}

.light-orange-background{
    background: #FFB800;
}

.yellow-background{
    background: #EFF400;
}

.blue-background{
    background: #5319FF;
}

.dark-blue-background{
    background: #001DB6;

}

.green-background{
    background: #00F4AB;

}

.dark-green-background{
    background: #00D6AF;
}

/* SPACING */


.margin-right-small{
    margin-right:20px;
}

.padding-standard-sides{
    padding: 0 30px 0 30px;
}

.standard-margin-top{
    margin-top: 30px;
}


.small-margin-top{
    margin-top: 15px;
}

.full-width{
    width:100%;
}


/* Flex box */

.flex-row-tight{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column-simple{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    padding: 0 10px;
}

/* NAVBAR */

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:#000000;
    width: 100%;
    height: 88px;
    position:fixed;
    top: 0px;
    padding: 0 30px;
    z-index: 10;
}

#logo{
    width: 135px;
    height:22px;
}


/* Footer */


/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    background-color:black;
    width:100%;
    /* position:absolute;
    bottom:0px; */

}

.footer a {
    color: #58595B;
}

.footer a:hover {
    color: #FFF;
}

.footer .social > * {
    margin-right: 30px;
}

.bg-dark{
    background: #333;
    color: #fff;
}